<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cpetsol.cpetsolutions.myaaptha">

    <compatible-screens>

        <!-- all small size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="560"
            android:screenSize="small" />
        <screen
            android:screenDensity="640"
            android:screenSize="small" />

        <!-- all normal size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="480"
            android:screenSize="normal" />
        <screen
            android:screenDensity="560"
            android:screenSize="normal" />
        <screen
            android:screenDensity="640"
            android:screenSize="normal" />

        <!-- all large size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="480"
            android:screenSize="large" />
        <screen
            android:screenDensity="560"
            android:screenSize="large" />
        <screen
            android:screenDensity="640"
            android:screenSize="large" />

        <!-- for Nexus 7 -->
        <screen
            android:screenDensity="213"
            android:screenSize="large" />

        <!-- all xlarge size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="480"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="560"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="640"
            android:screenSize="xlarge" />
    </compatible-screens>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/logo"
android:logo="@drawable/logo"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NavigationActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.MainNavigationActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">

            <!--
             <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activity.ArticalIndetailsActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.AllUsersDataActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.UserDataFormActivity"
            android:theme="@style/Theme.AppCompat.Light">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.DoctorHospitalsActivity"
            android:theme="@style/Theme.AppCompat.Light">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.BookOverviewActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.PrescriptionActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.SearchUserActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.MenuAppointmentActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.MenuPrescriptActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.UserProfileActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".activity.DoctorOverviewActivity" />
        <activity android:name=".activity.PrescriptionPage" />
        <activity android:name=".activity.InboxActivity" />
        <activity android:name=".activity.HospitalOverviewActivity" />
        <activity android:name=".activity.DoctorsData" />
        <activity android:name=".activity.ArticleIndetailAct" />
        <activity android:name=".activity.MessageBox" />
        <activity android:name=".activity.ForumsAnswerActivity" />
        <activity android:name=".activity.RolesActivity"></activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>